.currency-converter{
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.img {
  width: 90px;
  cursor: pointer;
  align-self: center;
}

@media (max-width: 900px) {
  .img {
    width: 80px;
  }
}

@media (max-width: 620px) {
  .img {
    width: 70px;
  }
}

@media (max-width: 400px) {
  .img {
    width: 60px;
  }
}